.header{
    position: relative;
    max-width: 100vw;
    height: 160vh;
    background: url(../../img/bgcloudBigger.png);
    background-size:cover;
    z-index: -1;
    background-position: center;
}

.headerText{
    max-width: 100vw;
    height: 80vh;
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-direction: column;
}

.headerTitle{
    width: 100vw;
    height: 20vh;
    top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerTitle p{
    font-size: 10vw;
    font-weight: 800;
    color: antiquewhite;
    position: relative;
    font-family: Verve;
    animation: slideInFromLeft 2s forwards; /* Använd keyframes-nyckelramen med 2 sekunders varaktighet */
}

.headerDate{
    width: 0vw;
    height: 20vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.headerDate p{
    font-size: 2vw;
    font-weight: 800;
    color: antiquewhite;
    text-transform: uppercase;
    text-align: center;
    font-family: Verve;
    animation: slideInFromTop 2s forwards; /* Använd keyframes-nyckelramen med 2 sekunders varaktighet */
}

.headerInfo{
    width: 30vw;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerInfo p{
    font-size: 1vw;
    font-weight: 800;
    color: antiquewhite;
    text-transform: uppercase;
    text-align: center;
    width: 300px;
    animation: slideInFromTop 2s forwards; /* Använd keyframes-nyckelramen med 2 sekunders varaktighet */
}

/*.hoverEarth{
    width: 100px;
    height: 300px;
    position: absolute;
    background-color: blue;
    left: 35%;
    top: 30%;
}*/

.hoverEarthText {
    visibility: hidden;
    color: blue;
    font-size: 10vw;
    transition: visibility 0.5s ease-in-out; /* Lägg till en övergång för en slät effekt */
}



#countdown {
    font-size: 0vw;
    font-weight: bold;
    color: rgb(250, 235, 215, 0.4);
    font-family: Market;
    text-transform: uppercase;
    position: absolute;
    top: 75%;
    width: fit-content;
    left: 400px;
}


@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
      filter: blur(10px);
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }  


